<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	
	<!--==================================================================== -->
	<!--=======     declaration du bean de la couche dao         =========== -->
	<!--==================================================================== -->
	<bean id="boutiqueDaoBean" class="com.intiformation.ecommerce.dao.BoutiqueDAOImpl">
		
		<!-- injection de la session factory  -->
		<property name="sessionFactory" ref="sessionbFactoryBean"/>
	
	</bean>

</beans>



