<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--===================================================== -->
	<!--======= localisation des fichiers de propriétés ===== -->
	<!--===================================================== -->
	<!--PropertyPlaceholderConfigurer: charge les propriétés définies dans le fichier 
	                                   et les utilise à la place des variables. 
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		
		<property name="locations">
			<list>
				<value>jdbc.properties</value>
			</list>
		</property>
	</bean>
	-->
	
	<context:property-placeholder location="/WEB-INF/jdbc.properties"/>


	<!--===================================================== -->
	<!--======= déclaration du bean de type DataSource ====== -->
	<!--===================================================== -->
	<bean id="dataSourceBean" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />		
		<property name="username" value="${jdbc.userName}" />		
		<property name="password" value="${jdbc.password}" />		
	</bean>

</beans>



